version: '3'

services:

  application:
    image: vape-nest-api:dev
    container_name: vape-nest-api
    build:
      context: ./app
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    environment:
      - JWT_SECRET=123_JWT_SECRET!
      - NODE_ENV=docker
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=nest_api_dev
      - DB_USERNAME=vape_nestapi
      - DB_PASSWORD=543127394CEDED80469C14B45F9312CA
      - DEPLOY_ENV=node-api-dev
      - LOGS_PATH=./../logs
      - MERGE_BRANCH=dev
      - KEYCLOAK_PORT=8080
      - KEYCLOAK_REALM=bcerd
      - KEYCLOAK_CLIENT=BCERD-API
      - KEYCLOAK_AUTH_URL=https://common-logon-dev.hlth.gov.bc.ca/auth/
      - KEYCLOAK_SECRET=88565FDC9E26E533258A75505C86409B92C371565E7801440219610B8450BB35FB253D7A2EA9456FDB52A3075AB18142
      - KEYCLOAK_DATA_REALM=moh_applications
      - KEYCLOAK_DATA_CLIENT=BCER-CP
      - KEYCLOAK_DATA_AUTH_URL=https://common-logon-dev.hlth.gov.bc.ca/auth/
      - HEAPSNAPSHOT_ENABLED=false
    expose:
      - "4000"
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - postgres
      # - keycloak
    networks:
      - backend

  postgres:
    image: vape-nest-api-postgres:dev
    container_name: vape-nest-api-postgres
    build:
      context: ./.docker/postgres
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_MULTIPLE_DATABASES="nest_api_dev","nest_api_test","vape_migrations"
      - POSTGRES_USER=vape_nestapi
      - POSTGRES_PASSWORD=vape_nest123
    volumes:
      - ./.docker/postgres:/docker-entrypoint-initdb.d
    networks:
      - backend

  # keycloak:
  #   image: quay.io/keycloak/keycloak:latest
  #   environment:
  #     DB_VENDOR: POSTGRES
  #     DB_ADDR: postgres
  #     DB_DATABASE: nest_api_dev
  #     DB_USER: vape_nestapi
  #     DB_PASSWORD: vape_nest123
  #     KEYCLOAK_USER: admin
  #     KEYCLOAK_PASSWORD: password
  #     KEYCLOAK_IMPORT: /tmp/testrealm.json -Dkeycloak.profile.feature.upload_scripts=enabled
  #   healthcheck:
  #     test: ['CMD', 'curl', '-f', 'http://localhost:8080/auth/realms/th-common-idm/']
  #     interval: 15s
  #     timeout: 5s
  #     retries: 5
  #   volumes:
  #     - ./.docker/keycloak/testrealm.json:/tmp/testrealm.json
  #   ports:
  #     - 8080:8080
  #   depends_on:
  #     - postgres
  #   networks:
  #     - backend

networks:
  backend:
    driver: "bridge"

volumes:
  postgres:
